<div id="sidebar">
    <div id="sidebar_content">
        <header>
            <h1>{{title}}</h1>
            <a href="/">Home</a>
            <a href="/input">Submit</a>
            <a href="/help">Help</a>
        </header>
        
    </div>

    <footer>
        <div id="icons">
            <a href="https://www.linkedin.com/in/sadashay-kanungo-22a4321a0/"><img src="https://img.icons8.com/material/48/000000/linkedin--v1.png"/></a>
            <a href="https://www.facebook.com/sadashay.kanungo"><img src="https://img.icons8.com/material/48/000000/facebook-new.png"/></a>
            <a href="https://github.com/SadashayKanungo"><img src="https://img.icons8.com/material-outlined/48/000000/github.png"/></a>
            <a href="https://www.instagram.com/sadashay_kanungo/"><img src="https://img.icons8.com/material/48/000000/instagram-new--v1.png"/></a>
        </div>
        <p>Made with &#128420; by SK</p>
    </footer>
</div>