<!DOCTYPE html>
<html>
    <head>
        <title>Movies App</title>
        <link rel="icon" href="https://i.pinimg.com/originals/77/0b/80/770b805d5c99c7931366c2e84e88f251.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        {{>sidebar}}
        <div class="maincontent">
            <div id="movieDetails">
                <h1>THIS MOVIE HAS BEEN DELETED</h1>
            </div>
        </div>
    </body>
</html>