<!DOCTYPE html>
<html>
    <head>
        <title>Movies App</title>
        <link rel="icon" href="https://img.icons8.com/dusk/64/000000/movie-projector.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        {{>sidebar}}
        <div class="maincontent">
            
        </div>
    </body>
</html>