<!DOCTYPE html>
<html>
    <head>
        <title>Movies App</title>
        <link rel="icon" href="https://img.icons8.com/dusk/64/000000/movie-projector.png" />
        <link rel="stylesheet" href="./style.css" />
    </head>
    <body>
        {{>sidebar}}
        <div class="maincontent">
            <div id="focusContent">
                <p>Search from over 19K movies and get autocomplete suggestions instantly.</p>
                <p>Submit new movies. View, Edit or Delete existing ones.</p>
                <p>Built with Elasticsearch and Express.</p>
                <p>App deployed with Heroku.</p>
                <p>Database temporarily deployed with Elastic Cloud.</p>
            </div>
        </div>
    </body>
</html>